<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 mb-3 mb-md-0">
        <ul class="list-unstyled">
          <li class="text-secondary font-weight-bold">Tanvir Hossain</li>
          <li class="text-secondary">PhD Researcher, Electrical Engineering</li>
          <li class="text-secondary">University of Kansas</li>
          <li><a href="https://scholar.google.com/citations?user=lPEOU2wAAAAJ&amp;hl=en">Google Scholar</a></li>
          <li><a href="https://linkedin.com/in/tanvir-hossain71">LinkedIn</a></li>
        </ul>
      </div>

      <div class="col-md-4 col-sm-6 mb-3 mb-md-0" id="contact-me">
        <ul class="list-unstyled">
          <li class="text-secondary">
            <span class="footer-icon"><i class="fas fa-envelope"></i></span>
            <a href="mailto:{{ site.data.contact.email.address }}">{{ site.data.contact.email.address }}</a>
          </li>
          <li>
            <span class="footer-icon"><i class="fab fa-github"></i></span>
            <a href="{{ site.data.contact.github.link }}">{{ site.data.contact.github.username }}</a>
          </li>
          {% if site.data.contact.twitter %}
          <li>
            <span class="footer-icon"><i class="fab fa-twitter"></i></span>
            <a href="{{ site.data.contact.twitter.link }}">{{ site.data.contact.twitter.username }}</a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-md-4 col-sm-12">
        <ul class="list-unstyled">
          <li class="text-secondary">
            <span class="footer-icon"><i class="fas fa-map-marker-alt"></i></span>
            {{ site.data.contact.address | markdownify | remove: '<p>' | remove: '</p>' }}
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-copy">
      <i class="far fa-copyright"></i>
      {{ site.author }} {{ site.time | date: '%Y' }}
    </div>
  </div>
</footer>
