---
layout: default
---

<div class="container page-body">
  <div class="content-column content-column--wide">

    {% include page_header.html %}

    {% if site.data.news %}
      <ul class="news-list list-unstyled">
        {% for item in site.data.news %}
          <li class="news-item">
            <span class="news-date">{{ item.date }}</span>
            <span class="news-text">{{ item.news }}</span>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No news items available.</p>
    {% endif %}

  </div>
</div>
